@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  @apply bg-primary-100 w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-500 hover:bg-primary-800 transition-all duration-300;
}

@tailwind base;
@tailwind components;
@tailwind utilities;